{
  "version": 1.0,
  "project": "XYZ-${repo}-${branch}",
  "team": "\\CxServer\\Europe\\Caderon",
  "sast": {
    "preset": "XSS and SQLi only",
    "engineConfiguration": "Default",
    "incremental": "false",
    "forceScan" : "true",
    "fileExcludes": "*.jpg,*.xml",
    "folderExcludes": "*/test/*,*/unittest/*"
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "APPLICATION DVJA",
      "branches": ["develop", "master", "security"],
      "emails": ["gem.immanuel@checkmarx.com"],
      "bugTracker": "JIRA",
      "jira": {
        "project": "APPSEC",
        "issue_type": "APPSECBUG",
        "assignee": "gemify",
        "opened_status": ["To Do","In Progress", "In Review"],
        "closed_status": ["Closed","Done"],
        "open_transition": "In Progress",
        "close_transition": "Done",
        "close_transition_field": "resolution",
        "close_transition_value": "Done",
        "priorities": {
          "High": "High",
          "Medium": "Medium",
          "Low": "Low"
        }        
      },
      "filters" : {
        "severity": ["High", "Medium"],
        "cwe": [""],
        "category": [""],
        "status": ["Confirmed", "Urgent"]
      }
    }
  }
}
